PROJECT_FLEETENGINE      = "<FLEET ENGINE PROJECT>"
PROJECT_FLEETENGINE_LOGS = "<FLEET EVENTS PROJECT>"
PROJECT_FLEETEVENTS      = "<FLEET EVENTS PROJECT>"
GCP_REGION               = "us-central1"
GCP_REGION_FIRESTORE     = "nam5"
ME                       = "<YOUR ACCOUNT EMAIL>"
FUNCTION_SRC_DIR         = "../../../../../cloud-functions/"
FUNCTION_NAME            = "<FUNCTION NAME>"
TOPIC_FLEETENGINE_LOGS   = "<FLEET ENGINE LOG TOPIC>"
TOPIC_FLEETEVENTS_OUTPUT = "<FLEET EVENTS OUTPUT TOPIC>"
