PROJECT_FLEETENGINE      = "<FLEET ENGINE PROJECT>"
PROJECT_FLEETEVENTS      = "<FLEET EVENTS PROJECT>"
PROJECT_FLEETEVENTS_NAME = "Fleet Events"
PROJECT_FLEETENGINE_LOGS = "<FLEET EVENTS PROJECT>"
FOLDER_ID                = "<FOLDER NUMBER>"
BILLING_ACCOUNT          = "<BILLING ACCOUNT ID>"
GCP_REGION               = "us-central1"
GCP_REGION_FIRESTORE     = "nam5"
TOPIC_FLEETENGINE_LOGS   = "<FLEET ENGINE LOG TOPIC>"
ME                       = "<YOUR ACCOUNT EMAIL>"
FUNCTION_SRC_DIR         = "../../../../../cloud-functions/"
FUNCTION_NAME            = "<FUNCTION NAME>"
